<<<<<<< HEAD
/* CSS Document */
/* by LXS */
body {
	font-family: regular;
	color: #0C034D;
	width: 600px;
	height: 98%;
	position: relative;
	padding: 15% 24%;
	}
	
.header {
	float: left;
	font-family: light;
	width: 295px;
	}
	
.content {
	float: left;
	margin: 57px 0 0 0;
	width: 200px
	}
	
h1 {
	margin: 0;
	padding: 0;
	font-size: 108px;
	}

h3 {
	margin: 0px;
	font-size: 18px;
	font-family: light; 
	}

span {
	font-family: bold;
	}
	
.login_box {
	height: 15px;
	width: 160px;
	box-shadow: 0.5px 0.5px 4px 1px rgba(153, 153, 153, 0.53);
	border: none;
	}
	
form.enform {
	position: relative;
	margin: 0 auto;
	padding:0;
	width: 220px;
	height:auto;
	border:none;
	}

/*form(.enform)下的div.类endiv*/
.enform > div.endiv {
	position:relative;
	width: 160px;
	height: auto;
	padding: 0;
	margin: 13px 0;
	vertical-align:middle;
	border:none;
	}
	
/*form(.enform)下div(endiv)下的label和input(text or password)*/
form.enform > div.endiv > label {
	position: absolute;
	z-index: 1;
	font-size: 10px;
	margin: 0 5px;
	bottom: 2px;
	color: #CCC;
	}

form.enform > div.endiv > input {
	position:relative;
	width:100%;
	height:100%;
	left: 0;
	}


/*form(.enform)下submit input*/
form.enform input.ensubmit {
	position: absolute;
	bottom: -26px;
	right: 0;
	background-image: url('/images/entrance/arrow.jpg');
	background-repeat: no-repeat;
	height: 46px;
	width: 50px;
	border: none;
    background-color: transparent;
	cursor: pointer;
    }

a {
	font-size: 10px;
	text-decoration: none;
	color: #0C034D;
	}

p {
	margin: 8px 0;
	}
.link {
	margin: 8px 0 0;
	display:inline-block;
	}
	
.enerr {
	font-size: 10px;
	color: red;
=======
/* CSS Document */
/* by LXS */

@font-face {
	font-family: bold;
	src:url('/font/Din/DINPro-Bold.otf');
	}
@font-face {
	font-family: light;
	src:url('/font/Din/DINPro-Light.otf');
	}
@font-face {
    font-family: medium;
    src:url('/font/Din/DINPro-Medium.otf');
    }
@font-face {
	font-family: regular;
	src:url('/font/Din/DINPro-Regular.otf');
	}

body {
	font-family: regular;
	color: #0C034D;
	width: 600px;
	height: 98%;
	position: relative;
	padding: 15% 24%;
	}
	
.header {
	float: left;
	font-family: light;
	width: 295px;
	}
	
.content {
	float: left;
	margin: 57px 0 0 0;
	width: 200px
	}
	
h1 {
	margin: 0;
	padding: 0;
	font-size: 108px;
	}

h3 {
	margin: 0px;
	font-size: 18px;
	font-family: light; 
	}

span {
	font-family: bold;
	}
	
.login_box {
	height: 15px;
	width: 160px;
	box-shadow: 0.5px 0.5px 4px 1px rgba(153, 153, 153, 0.53);
	border: none;
	}
	
form.enform {
	position: relative;
	margin: 0 auto;
	padding:0;
	width: 220px;
	height:auto;
	border:none;
	}

/*form(.enform)下的div.类endiv*/
.enform > div.endiv {
	position:relative;
	width: 160px;
	height: auto;
	padding: 0;
	margin: 13px 0;
	vertical-align:middle;
	border:none;
	}
	
/*form(.enform)下div(endiv)下的label和input(text or password)*/
form.enform > div.endiv > label {
	position: absolute;
	z-index: 1;
	font-size: 10px;
	margin: 0 5px;
	bottom: 2px;
	color: #CCC;
	}

form.enform > div.endiv > input {
	position:relative;
	width:100%;
	height:100%;
	}


/*form(.enform)下submit input*/
form.enform input.ensubmit {
	position: absolute;
	bottom: -26px;
	right: 0;
	background-image: url('/images/entrance/arrow.jpg');
	background-repeat: no-repeat;
	height: 46px;
	width: 50px;
	border: none;
    background-color: transparent;
	cursor: pointer;
    }

a {
	font-size: 10px;
	text-decoration: none;
	color: #0C034D;
	}

p {
	margin: 8px 0;
	}
.link {
	margin: 8px 0 0;
	display:inline-block;
	}
	
.enerr {
	font-size: 10px;
	color: red;
>>>>>>> 030000420ad7bbf6d2ae738842e2f87ac09c37f9
	}