<<<<<<< HEAD
/* CSS Document */
/*by LXS*/
html, body{
	font-family: regular;
	color: #0C034D;
    height:98%;
	position: relative;
	}
	
h1 {
    margin: 0 auto 32px;
	font-weight:100;
	font-family: regular;
	width: 521px;
	font-size: 40px;
	}
	
h2 {
	font-family: light;
	margin: 58px auto 33px;
	font-size: 25px;
	width: 514px;
	}

h4 {
	font-family: regular;
	margin: 58px auto 33px;
	font-size: 25px;
	width: 514px;
	}
	
h5 {
	width: 521px;
    margin: 0 auto 32px;
	}
	
.resend {
	font-family: regular;
	margin: 58px auto 33px;
	font-size: 25px;
	width: 514px;
	color: #0C034D;
	}

a {
	color: #0C034D;
	text-decoration: none;
	}

.err {
	color: red;
	size: 10px;
=======
/* CSS Document */
/*by LXS*/

@font-face {
	font-family: bold;
	src:url('/font/Din/DINPro-Bold.otf');
	}
@font-face {
	font-family: light;
	src:url('/font/Din/DINPro-Light.otf');
	}
@font-face {
    font-family: medium;
    src:url('/font/Din/DINPro-Medium.otf');
    }
@font-face {
	font-family: regular;
	src:url('/font/Din/DINPro-Regular.otf');
	}

html, body{
	font-family: regular;
	color: #0C034D;
    height:98%;
	position: relative;
	}
	
h1 {
    margin: 0 auto 32px;
	font-weight:100;
	font-family: regular;
	width: 521px;
	font-size: 40px;
	}
	
h2 {
	font-family: light;
	margin: 58px auto 33px;
	font-size: 25px;
	width: 514px;
	}

h4 {
	font-family: regular;
	margin: 58px auto 33px;
	font-size: 25px;
	width: 514px;
	}
	
h5 {
	width: 521px;
    margin: 0 auto 32px;
	}
	
.resend {
	font-family: regular;
	margin: 58px auto 33px;
	font-size: 25px;
	width: 514px;
	color: #0C034D;
	}

a {
	color: #0C034D;
	text-decoration: none;
	}

.err {
	color: red;
	size: 10px;
>>>>>>> 030000420ad7bbf6d2ae738842e2f87ac09c37f9
	}