/* CSS Document */

/* Scroll Atributes*/
/* for IE */
body { 

scrollbar-face-color: rgb(10,236,209); //滚动条凸出部分的颜色 
scrollbar-highlight-color: rgb(23,255,155); //滚动条空白部分的颜色 
scrollbar-shadow-color: rgb(255,116,23); //立体滚动条阴影的颜色 
scrollbar-3dlight-color: rgb(66,93,127); //滚动条亮边的颜色 
scrollbar-arrow-color: rgb(93,232,255); //上下按钮上三角箭头的颜色 
scrollbar--track-color: rgb(255,70,130); //滚动条的背景颜色 
scrollbar-darkshadow-color: rgb(10,0,209); //滚动条强阴影的颜色 
scrollbar-base-color: rgb(66,93,128)； //滚动条的基本颜色 
}

/* for Witkit(Chrome) */
::-webkit-scrollbar-button:vertical:decrement {
width:30px;
height:30px;
background:url('images/scroll/arrows.png') -16px -10px;
}



::-webkit-scrollbar-button:vertical:increment {
width:30px;
height:30px;
background:url('images/scroll/arrows.png') -16px -54px;
}

::-webkit-scrollbar-track-piece{
background-color:rgb(13,1,77);
-webkit-border-radius:0;
}

::-webkit-scrollbar{
width:30px;        /*这个是垂直滚动条的宽度 */
height:30px;   /*这个是水平滚动条的高度 */
}

::-webkit-scrollbar-thumb{
height:30px;
background-color:rgb(13,1,77);   /*这个是滚动个个长方块的颜色*/
-webkit-border-radius:4px;
outline:2px solid rgb(13,1,77);
outline-offset:-2px;
border: 2px solid rgb(13,1,77);
}

::-webkit-scrollbar-thumb:hover{
height:50px;
background-color:#000000;  /*这个是鼠标悬停在滚动方块上是的颜色*/
-webkit-border-radius:4px;
}
