/* CSS Document */

/*IE*/
body { 
	scrollbar-face-color:rgb(10,236,209); /*滚动条凸出部分的颜色 */
	scrollbar-highlight-color:rgb(23,255,155); /*滚动条空白部分的颜色 */
	scrollbar-shadow-color:rgb(255,116,23); /*立体滚动条阴影的颜色 */
	scrollbar-3dlight-color:rgb(66,93,127); /*滚动条亮边的颜色 */
	scrollbar-arrow-color:rgb(93,232,255); /*上下按钮上三角箭头的颜色 */
	scrollbar--track-color:rgb(255,70,130); /*滚动条的背景颜色 */
	scrollbar-darkshadow-color:rgb(10,0,209); /*滚动条强阴影的颜色 */
	scrollbar-base-color:rgb(66,93,128)； /*滚动条的基本颜色 */
}

/*Chrome and Safari*/
::-webkit-scrollbar-track-piece{
	background-color:white;
	-webkit-border-radius:0;
}

::-webkit-scrollbar{
	width:8px;        /*这个是垂直滚动条的宽度 */
	height:8px;   /*这个是水平滚动条的高度 */
	background-color:rgba(0,0,0,1);
}

::-webkit-scrollbar-thumb{
	/*background:url(hficampus/images/箭头2.png) -13px -10px no-repeat;*/
	background-color:rgba(0,0,0,1);  /*这个是滚动个个长方块的颜色*/
	border-radius:4px;
	-moz-border-radius:4px; /* Old Firefox */
}

::-webkit-scrollbar-thumb:hover{
	background-color:rgba(0,0,0,1);  /*这个是鼠标悬停在滚动方块上是的颜色*/
}
